name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17' # Ensure this matches the desired Java version
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        wrapper-cache-enabled: true

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle Wrapper
      run: ./gradlew clean build

    - name: Run tests
      run: gradle clean test

    - name: Package application
      run: ./gradlew assemble

    - name: Archive build artifacts
      if: success()
      uses: actions/upload-artifact@v2
      with:
        name: build-artifacts
        path: |
          build/libs/**/*.jar
          build/reports/tests/test/index.html

    - name: Publish Test Report
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: test-report
        path: build/reports/tests/test
